/* You can add global styles to this file, and also import other style files */
img{
    width: 250px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}
.card_container{
    min-height: 200px;
    border: 1px solid rgb(236, 235, 235);
    margin: 10px;
    padding: 5px 10px;
    border-radius: 10px;
}
.card_container:hover{
    background-color: gainsboro;
}
.error{
    color: red;
    margin-top: 50px;
    font-size: 20px;
}