input[type="submit"]{
    width: 100px;
    height: 40px;
    background-color: green;
    border:none;
    color: white;
}
input[type="submit"]:hover{
    cursor: pointer;
}
input{
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 10px;
}