h2{
    padding: 5px;
    border-radius: 50px;
}
.result{
    color: red;
}
.result.exists{
    color: green;
}
input{
    height: 40px;
    width: calc(100% - 100px);
    padding: 0 10px;
    border: 1px solid gainsboro;
}
button{
    width: 100px;
    height: 40px;
    background-color: black;
    border:none;
    color: white;
}
.search_container{
    position:sticky;
    top:0;
}
.error{
    font-weight: 900;
    color: red;
}