<!-- <app-content-card *ngFor="let item of contentItems ; index as i; first as isFirst" [content]="item" [isFirst]="isFirst"></app-content-card> -->
<app-create-content (createContent)="addContent($event)"></app-create-content>
<div class="search_container">
    <input type="search" placeholder="Check If Title Exists" #search (input)="updateValue(search.value)"/>
    <button (click)="handleOnClick()">Check</button>
</div>
<p *ngIf="showResult && checkIfTitleExists()" class="result exists">This Title Exists</p>
<p *ngIf="showResult && !checkIfTitleExists()" class="result">This Title Does Not Exists</p>
<h2>Content with Test1 Type</h2>
<app-content-card *ngFor="let item of (contentItems | filterType:'Test1') ; index as i; first as isFirst" [content]="item" [isFirst]="isFirst" type="test1"></app-content-card>
<h2>Content with Test2 Type</h2>
<app-content-card *ngFor="let item of (contentItems | filterType:'Test2') ; index as i; first as isFirst" [content]="item" [isFirst]="isFirst" type="test2"></app-content-card>
<h2>Content with No Types</h2>
<app-content-card *ngFor="let item of (contentItems | filterType) ; index as i; first as isFirst" [content]="item" [isFirst]="isFirst" type="none"></app-content-card>