<!-- <div [innerHTML] = content.title></div> -->
<div class="card" [class.is-first]="isFirst" >
    <h2>{{content.title}}</h2>
    <img (click)="onClick(content.id, content.title)" *ngIf="content.imgURL" src={{content.imgURL}} alt="{{content.title}}" /><br/>
    <p><b>Description:</b> {{content.description}}</p>
    <p><b>Creator:</b> {{content.creator}}</p>
    <p *ngIf="content.type"><b>Type:</b> {{content.type}}</p>
    <div *ngIf="content.tags">
        <p><b>Tags:</b></p>
        <ul>
            <li *ngFor="let tag of content.tags">
                {{tag}}
            </li>
        </ul>
    </div>
</div>